﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BanatPlast</title>        
    <link rel="icon" type="image/png" href="~/images/logoBlock.png" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/BanatPlast.styles.css" asp-append-version="true" />

    


</head>
		<header>
            <a asp-page="/Index">
			    <img src="~/images/logo.png" alt="Logo" id="logo">
		    </a>
		    <nav>
			    <ul>
				    <li><a asp-page="/Index">POČETNA</a></li>
				    <li><a asp-page="/Offer">KATALOG</a></li>
				    <li><a asp-page="/Gallery">GALERIJA</a></li>
				    <li><a asp-page="/AboutUs">O NAMA</a></li>
				    <li><a asp-page="/Contact">KONTAKT</a></li>
			    </ul>
		    </nav>	
		</header>

                <main role="main">
                    @RenderBody()
                </main>

	
	    <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="/images/logo.png" alt="Logo">
                </div>
                <div class="copyright-text">
                    &copy; 2023 BanatPlast. All rights reserved.
                </div>
                <div class="social-icons">

                    <div class="icons-vector">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
                            </svg>
                        </a>
                    </div>
                    
                    
                    <div style="color: var(--primaryColor);" class="icons-vector">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>


    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function navigateTo(page) {
            window.location.href = '/' + page;
        }
        
        


    </script>

</html>