﻿

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
}

