:root {
    --primaryColor: #2260bc;
    --secondaryColor: #dd1515;
    --wrapperColor: #88a0c5; /*#88a0c5*/
    --outWrapperColor: #7990b4; /*#88a0c5*/
    --wrapperWidth: 1050px;
    --neutralColor: #333;
    --lightNeutralColor: #ccc;
    --additionalElement1Color: #657ea4; /*#657ea4*/
    --additionalElement2Color: #88a0c5; /*#4c6386*/
    --headerHeight: 110px;
    --headerColor: #7990b4;
}


/*#region GENERAL*/

main {
    margin-top: calc(var(--headerHeight) * -1);
    background-color: var(--wrapperColor);
}

@media (min-width: 768px) {

    html {
        font-size: 16px;
    }

    .ausection {
        flex-direction: column;
        padding: 20px;
    }

    .ausec-photo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

body {
    overflow-y: scroll;
}


html, body {
    font-size: 14px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background: var(--neutralColor);
}

.wrapper {
    width: var(--wrapperWidth);
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Roboto;
    overflow: visible;
    position: relative;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
}


.page-button, .moreInfoButton {
    position: relative;
    overflow: visible;
    outline: none;
    padding: 5px 20px 5px 20px;
    border: 3px solid var(--primaryColor);
    font-size: 13px;
    font-family: 'Roboto Condensed Bold', sans-serif;
    background: transparent;
    color: var(--primaryColor);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transition: color .3s ease-in-out,box-shadow .3s ease-in-out;

    z-index: 0;
    width: fit-content;
}

.page-button::before, .moreInfoButton::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    height: auto;
    background: var(--primaryColor);

    width:0px;
    transition: width .3s ease-in-out, color .3s ease-in-out;

    z-index:-1;
}

.page-button:hover::before, .moreInfoButton:hover::before {
    width: 102%;
    right:-1px;
}

.page-button:hover, .moreInfoButton:hover {    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    color:white;

}



/*#endregion*/

/*#region Sliders*/


.slider {
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.slider img {
    object-fit: cover;
    max-width: 100%;
    transition: opacity 1s ease-in-out;
}


.slider-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -390px;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    backdrop-filter: blur(3px); 
}

.main-text {
    width: 550px;
    font-size: 40px;
    font-family: 'Roboto Black', sans-serif;
    color: var(--primaryColor);
    float: left;
    position: relative;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
    line-height: 1.2;
    z-index: 50;
}

.page-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Roboto Black', sans-serif;
    color: var(--primaryColor);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
    line-height: 110px;
    z-index: 50;
    padding-left: 100px;
}


.sub-text {
    width: 550px;
    font-size: 18px;
    float: left;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: var(--primaryColor);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    z-index: 50;
}

.contact-button {
    width: 150px;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 50;
}

.main-text, sub-text, contact-button {
}

.contact-button:hover {
    background-color: var(--secondaryColor);
}


/*#endregion Sliders*/



/*#region Header*/

header {
    position: sticky;
    background-color: var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--wrapperWidth);
    height: var(--headerHeight);
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

#logo {
    padding-left: 55px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    z-index:1000;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 55px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    font-family:'Roboto Condensed Bold';
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--secondaryColor); 
    text-decoration: underline; 
}

#search {
    margin-left: auto;
    margin-right: 550px;
    position: relative;
}

/*#endregion Header*/

/*#region Index*/

/*#region CenterCards*/

.cards-container {
    display: flex;
    padding: 50px;
    justify-content:center;
    padding-top: 50px;
}



.card {
    margin-top: -100px;
    height: 375px;
    width: 250px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    border: 0px;
    border-radius: 0px;
    margin-right: 20px; 
}

.card:not(:last-child) {
    margin-right: 40px;
}

.upper-part {
    background-color: var(--primaryColor);
    width:inherit;
    border-radius:inherit;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-part {
    background-color: #f0f0f0; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card:hover {
    transform: translateY(-10px); 
}

.card-content {
    height: 100%;
    background-color: #000; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    font-size: 24px; 
    margin-bottom: 10px;
}

.card-icon img {
    height: 75px; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.card:last-child {
    margin-right: 0; 
}

.card-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto Condensed';
}

.card-text {
    font-size: 18px;
    font-family: 'Roboto Condensed';
    margin-top: 10px;
    text-align: center;
}

.card:nth-child(1) {

}

.card:nth-child(3) {

}

/*#endregion CenterCards*/

/*#endregion Index*/

/*#region AboutUs*/

.additional-elements {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between elements as needed */
}

.additional-element,
.additional-element2 {
    position: relative;
    overflow: visible;
}

.additional-element {
    background-color: var(--additionalElement1Color);
}

.additional-element2 {
    background-color: var(--additionalElement2Color);
}


.additional-element, 
.additional-element2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px; 
    overflow:visible;
}


.additional-element::after,
.additional-element2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px 20px 0;
    border-style: solid;
    z-index:5000;
}

.additional-element::after {
    border-color: var(--additionalElement1Color) transparent transparent;
}

.additional-element2::after {
    border-color: var(--additionalElement2Color) transparent transparent;
}


.text-content {
    flex-grow: 1;
    padding-right: 50px;
    padding-left: 50px;
}

.paraHead {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

.paraText {
    font-size: 18px;
    color: #333;
    font-family: 'Roboto Condensed';
}

.additional-element:last-child::after,
.additional-element2:last-child::after {
    display: none;
}


/*#endregion*/

/*#region Offer*/

/*#region OfferCards*/

.offerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px !important; 
    margin: 20px;
}

.offerCard {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid black;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 15px;

    height:350px;
}


.offerCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.offerCard img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    border-bottom:1px solid black
}

.offerCard-details {
    padding: 15px;
    box-sizing: border-box;
    flex: 1;
    display:flex;
    flex-direction:column;
}

.offerCard-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;


    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    height: 55px;
}

.offerCard-detail {
    font-size: 14px;
    color: #666;
    max-height: 100%; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    margin-bottom: 45px;
}


.offerCard:hover .offerCard-detail {
    max-height: 45px;
}


.moreInfoButton {
    opacity: 0;
    transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out; 

    align-self: center;
    justify-content: center; 

    transform: translate(0%, -105%);



}



.offerCard:hover {
    transform: scale(1.05);
}

.offerCard:hover .moreInfoButton {
    opacity: 1; 
}


/*#endregion OfferCards*/


/*#region Popups*/


.popup-container {
    position: fixed;
    background-color: white;
    overflow: auto;
    z-index: 1010;
    box-shadow: 0 0px 15px rgba(0,0,0,.5);
    overflow: visible;
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10vh);
    transition: opacity 0.3s ease-in-out, visibility 0s linear, transform 0.3s ease-in-out; 


    flex-direction: column;
    max-width: 750px;
    margin: -150px auto;
}

.popup-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 

    z-index: 1001; 

    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; 


    backdrop-filter: blur(8px);
}

.popup-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
}

.popup-title {
    font-size: 20px;
    font-weight: bold;
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding:30px;
}


.window-preview {
    display: flex;
    align-items: start;
    width: 500px; 
    padding-right:30px;
    border-right:3px solid var(--lightNeutralColor);
}

.window-preview img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}


.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 50vw;
    padding-left:30px;
}


.input-section label {
    font-weight: bold;
}

.textfield {
    width: 100%; 
    border-radius: 0px !important;
    border: 1px solid #ccc;
    outline:0;

    transition: border .3s ease-in-out,box-shadow .3s ease-in-out;
}

.textfield:focus {
    border: 1px solid #007bff;
    outline:none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.close-btn {
    position: absolute;
    top: -22px;
    right: -22px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close-btn::before {
    content: '\2715'; /* Unicode arrow-down character */
    display: block;
    font-weight: 700;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 0.3s ease-in-out;
}

.close-btn:hover {
    background: none;
    color: red; 
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #e9e9e9;
}




    /*#endregion Popups*/


/*#endregion*/

/*#region Footer*/
footer {
    background-color: #333; 
    color: white;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box; 
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    min-height: 50px;
}


.footer-content {
    max-width: var(--wrapperWidth); 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    max-height: 50px; 
    padding-left: 50px;
}

.copyright-text {
    flex-grow: 1; 
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px; 
    padding-right: 50px;
}

.icons-vector, .icons-vector a {
    height: 35px;
    width: 35px;
    fill: var(--primaryColor);
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.icons-vector:hover, .icons-vector a:hover {
    transform: translateY(-3px); 
    fill: var(--secondaryColor);
}

/*#endregion Footer*/

/*#region Contact*/

/*#region ContactInfoCard*/

.contact-container {
    z-index: 400;
    top: 250px;
    left: 20%;
    width: 500px;
    height: 100%;
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 126px;
}

.email-icon {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    vertical-align: middle;
}

.contact-header {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto Bold';
    color: white;
    background-color: var(--primaryColor); 

    height: 90px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

.info-address {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 50%;
}

.info-workingHours {
    width: 50%; 
    display: grid;
    justify-items: center;
}

.info-label {
    font-weight: bold;
    margin-right: 5px;
}

.contact-footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    justify-content: flex-end;
}


.hello-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

.contact-header,
.contact-footer {
    width: 100%; /* Make these elements fill the entire width */
}



.form-container {
    display: flex;
    width: 100%;
}

.left-column {
    flex: 1;
    padding-right: 10px; /* Adjust the padding between columns */
}

.left-column .form-group:last-child, .right-column .form-group:last-child {
    margin-bottom: 0px;
}

.right-column {
    flex: 1;
}

.right-column textarea {
    height: 207px;
}

/*#endregion ContactInfoCard*/

/*#region ContactForm*/

.form-group {
    margin-bottom: 40px;
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.form-group label {
    margin-bottom: 5px; 
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 12px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.form-container input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px; 

    outline: none;
}

/*#endregion ContactForm*/


/*#endregion Contact*/

/*#region Gallery*/

/*#region GalleryTable*/

.gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.column {
    flex: 1;
}

.gallery-item {
    width: 100%;
    height: auto;
    transition: border-color 0.3s;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border: 7px solid transparent;
    transition: border-color 0.3s;
    cursor: pointer;
}

.gallery-item img:hover {
    border-color: var(--primaryColor);
}

/*#endregion GalleryTable*/

/*#region Popup*/


#gallery-popup {
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    max-width: 1000px; /* Adjust the maximum width as needed */
    max-height: 700px; /* Adjust the maximum height as needed */
    position: fixed;
    z-index: 1006;
}


.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 1005;
}

.lightbox-content {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lightbox img {
    width: 80%;
    height: auto;
    max-height: 80%;
    margin: auto;
}

.prev, .next {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: color .3s ease-in-out;
}

.prev:hover, .next:hover {
    color: var(--primaryColor);
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}




/*#endregion Popup*/

/*#endregion Gallery*/