﻿@page
@model BanatPlast.Pages.AboutUsModel
@{
    ViewData["Title"] = "O nama";
}
<style>
    .slider-content {
      margin-top: -190px !important;
      height: 190px !important;
    }
    .slider{        
        height:300px;
    }
</style>


<div class="slider" id="backgroundSlider"></div>

<div class="wrapper">

    <div class="slider-content">
        <div class="page-name">O nama</div>
    </div>

    <div class="additional-elements">
        <div class="additional-element">
            <img src="~/images/about-us/au1.png" alt="Para1">
            <div class="text-content">
                <h3 class="paraHead">Naša Priča</h3>
                <p class="paraText">Dobrodošli u "Banat Plast," gde se izvrsnost sreće s inovacijom. Sa bogatom istorijom utemeljenom na kvalitetnom zanatu i zadovoljstvu klijenata, ponosimo se transformacijom prostora putem vrhunskih PVC prozorskih instalacija. Naše posvećenje izvrsnosti podudara se samo s našim posvećenjem stvaranju energetski efikasnih, stilizovanih i izdržljivih rešenja za vaš dom ili poslovni prostor.
                </p>
            </div>
        </div>

        <div class="additional-element2">
            <div class="text-content">
                <h3 class="paraHead">Misija i Vrednosti</h3>
                <p class="paraText">U "Banat Plast," naša misija je jasna: pružiti neuporediva rešenja za PVC prozore koja prevazilaze očekivanja. Vođeni integritetom, pouzdanošću i strašću za oduševljenjem klijenata, težimo postavljanju standarda u industriji. Bilo da je reč o poboljšanju energetske efikasnosti ili podizanju estetike, vođeni smo posvećenjem kvalitetu i vizijom svetlije i zelenije budućnosti.
                </p>
        </div>
            <img src="~/images/about-us/au2.png" alt="Para1">
        </div>

        <div class="additional-element">
            <img src="~/images/about-us/au1.png" alt="Para1">
            <div class="text-content">
                <h3 class="paraHead">Upoznajte Naš Tim</h3>
                <p class="paraText">Iza svake uspešne instalacije stoji tim stručnjaka posvećenih savršenstvu. Upoznajte stručnjake u "Banat Plast" koji donose godine iskustva i tehničkog znanja na svaki projekat. Naš tim nije samo o prozorima; radi se o stvaranju besprekornog i uživljajnog iskustva za vas. Od konsultacija do instalacije, tu smo da pretvorimo vašu viziju u stvarnost.
                </p>
            </div>
        </div>

        <div class="additional-element2">
            <div class="text-content">
                <h3 class="paraHead">Naše Obaveze</h3>
                <p class="paraText">"Banat Plast" nije samo pružalac usluga; mi smo vaši partneri u poboljšanju udobnosti i lepote vašeg doma ili radnog prostora. Naš pristup fokusiran na korisnika osigurava da su vaše potrebe u središtu svega što radimo. S transparentnom komunikacijom, personalizovanim rešenjima i posvećenošću vašem zadovoljstvu, cilj nam je izgradnja trajnih odnosa jednako dugotrajnih kao naše premium PVC instalacije.
                </p>
            </div>
            <img src="~/images/about-us/au2.png" alt="Para1">
        </div>



    </div>


</div>

        


<script>
    document.addEventListener('DOMContentLoaded', function () {
    const backgroundSlider = document.getElementById('backgroundSlider');

    const backgroundImages = [
        'slide1.png',
        'slide2.png',
        'slide3.png'
        // Add more image filenames as needed
    ];

    let currentBackgroundIndex = 0;

    function changeBackground() {
        // Toggle fade-out class to initiate fade-in-out effect
        backgroundSlider.classList.toggle('fade-out');

        const newBackgroundImage = backgroundImages[currentBackgroundIndex];
        const imagePath = `../images/${newBackgroundImage}`;

        // Set new background image
        backgroundSlider.style.backgroundImage = `url('${imagePath}')`;

        // Increment index or reset to 0 when reaching the end
        currentBackgroundIndex = (currentBackgroundIndex + 1) % backgroundImages.length;
    }

    // Immediately set the first background image
    changeBackground();

    // Automatically change the background every 3 seconds
    setInterval(changeBackground, 3000);
});
</script>