﻿@page
@model BanatPlast.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<html lang="en">
<head>

<style>
    .slider-content {
      margin-top: -190px !important;
      height: 190px !important;
    }
    .slider{        
        height:300px;
    }
    .wrapper{
        margin-top:-500px !important;
    }
    #map{
        height:500px;
        width:100%;
        z-index:300;
    }
        


</style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<div class="popup-background" id="popup-background"></div>

<div class="slider" id="backgroundSlider"></div>
    
<div id="map"></div>

<div class="wrapper">

    <div class="slider-content">
        <div class="page-name">Kontakt</div>
    </div> 


    <div class="contact-container">

        <div class="contact-header">
            <img class="email-icon" src="~/images/contact/email.png" alt="Email Icon"/>

            <div>info@example.com</div>
        </div>

        <div class="contact-info">
            <div class="info-address">
                Augusta Cesarca 33<br />
                23000 Zrenjanin<br />
                Republika Srbija<br />
                <br />
                +381 63 515363
            </div>
            <div class="info-workingHours">
                <div><strong>Radno vreme:</strong></div>
                <div><strong>PON:</strong> 8 AM - 4 PM</div>
                <div><strong>UTO:</strong> 8 AM - 4 PM</div>
                <div><strong>SRE:</strong> 8 AM - 4 PM</div>
                <div><strong>ČET:</strong> 8 AM - 4 PM</div>
                <div><strong>PET:</strong> 8 AM - 4 PM</div>
                <div><strong>SUB:</strong> 8 AM - 2 PM</div>
                <div><strong>NED:</strong> Zatvoreno</div>
            </div>
        </div>

        <div class="contact-footer">            
            <button class="page-button" onclick="openMailPopup()">KONTAKTIRAJ NAS!</button>
        </div>
    </div>
    
    <div class="popup-container" id="popup" style="width:700px;">    
        <div class="popup-header">
            <label id="name" class="popup-title">Kontaktirajte nas preko e-mail adrese</label>
            <span class="close-btn" onclick="closeMailPopup()"></span>
        </div>
        <div class="popup-content">
            <form id="contactForm" onsubmit="submitForm(event)" class="form-container">

                <div class="left-column">

                    <div class="form-group">
                        <label for="name">Vaše ime:</label>
                        <input type="text" id="name" name="name" required class="textfield">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" required class="textfield">
                    </div>

                    <div class="form-group">
                        <label for="subject">Broj telefona:</label>
                        <input type="text" id="phone" name="phone" required class="textfield">
                    </div>
                </div>

                <div class="right-column">
                    <div class="form-group">
                        <label for="message">Poruka:</label>
                        <textarea id="message" name="message" required class="textfield"></textarea>
                    </div>
                </div>

            </form>
        </div>


        <div class="popup-footer">

            <button class="page-button" onclick="sendMail()" style="margin-right:10px;">Pošalji</button>
            <button class="page-button" onclick="closeMailPopup()">Zatvori</button>
        </div>
    </div>
    


</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const backgroundSlider = document.getElementById('backgroundSlider');

        const backgroundImages = [
            'slide1.png',
            'slide2.png',
            'slide3.png'
            // Add more image filenames as needed
        ];

        let currentBackgroundIndex = 0;

        function changeBackground() {
            // Toggle fade-out class to initiate fade-in-out effect
            backgroundSlider.classList.toggle('fade-out');

            const newBackgroundImage = backgroundImages[currentBackgroundIndex];
            const imagePath = `../images/${newBackgroundImage}`;

            // Set new background image
            backgroundSlider.style.backgroundImage = `url('${imagePath}')`;

            // Increment index or reset to 0 when reaching the end
            currentBackgroundIndex = (currentBackgroundIndex + 1) % backgroundImages.length;
        }

        // Immediately set the first background image
        changeBackground();

        // Automatically change the background every 3 seconds
        setInterval(changeBackground, 3000);
    });


    function initMap() {
        var companyLocation = { lat: 45.384957946377845, lng: 20.42169328023988 };
        var center = { lat: 45.384812678470986, lng: 20.432475972138135 };



        var map = L.map('map', {
        center: [center.lat, center.lng],
        zoom: 15,
        dragging: false,   // Disable map dragging
        zoomControl: false, // Disable zoom control
        scrollWheelZoom: false, // Disable scroll wheel zoom
        doubleClickZoom: false, // Disable double click zoom
        boxZoom: false, // Disable box zoom
        tap: false, // Disable tap
        keyboard: false, // Disable keyboard shortcuts
        touchZoom: false, // Disable touch zoom
        });


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.marker([companyLocation.lat, companyLocation.lng]).addTo(map);
    }
        
    // Call initMap when the document is ready
    document.addEventListener('DOMContentLoaded', function () {
        initMap();
    });



    function openMailPopup() {
        // Display the popup
        const popup = document.getElementById('popup');
        popup.style.display = 'flex'; // Make it visible
        popup.style.visibility = 'visible'; // Make it visible
        popup.style.opacity = '0'; // Start with opacity 0

        const popupBackground = document.getElementById('popup-background');
        popupBackground.style.display = 'flex'; // Make it visible
        popupBackground.style.visibility = 'visible'; // Make it visible
        popupBackground.style.opacity = '0'; // Start with opacity 0

        // Trigger reflow to enable the transition
        void popup.offsetWidth;
        void popupBackground.offsetWidth;

        // Fade in the popup and background
        popup.style.opacity = '1';
        popupBackground.style.opacity = '1';

        popup.classList.add('popup-show');
      }


      function closeMailPopup() {
        // Hide the popup with fade-out effect
        const popup = document.getElementById('popup');

        popup.classList.remove('popup-show');
        popup.style.opacity = '0';

        const popupBackground = document.getElementById('popup-background');
        popupBackground.style.opacity = '0';

        // Enable scrolling on the background after fade-out
        setTimeout(() => {

            popup.style.visibility = 'hidden'; // Hide the popup
            popup.style.display = 'none'; // Hide the popup
            popupBackground.style.visibility = 'hidden'; // Hide the background
            popupBackground.style.display = 'none';
            
            
        }, 300); // Adjust the timeout to match your transition duration
    }

    // Close the popup when clicking outside of it
    document.getElementById('popup-background').addEventListener('click', closeMailPopup);



    async function sendMail() {
      const email = document.getElementById('email').value;
      const message = document.getElementById('message').value;
          console.log(`Received POST request at /send-email ${email} `);

          try {
                const response = await fetch('http://localhost:3000/send-email', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ email, message })
                });

                console.log('Fetching ...');


                if (response.ok) {
                  console.log('Email sent successfully!');
                } else {
                  console.error('Failed to send email.');
                }
          } catch (error) {
            console.error('Error sending email:', error);
          }
    }


</script>