﻿@page
@model BanatPlast.Pages.GalleryModel
@{
    ViewData["Title"] = "Galerija";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment



<style>
    .slider-content {
      margin-top: -190px !important;
      height: 190px !important;
    }
    .slider{        
        height:300px;
    }





</style>


<div id="gallery-popup-background" class="popup-background"></div>

<div class="slider" id="backgroundSlider"></div>

<div class="wrapper">

    <div class="slider-content"">
        <div class="page-name">Galerija</div>
    </div>
        


    <div class="gallery-container">
        <div class="column">
            @for (int i = 0; i < Model.ModelDTO.GalleryImages.Count; i += 3)
            {
                var image = Model.ModelDTO.GalleryImages[i];
                var imageIndex = i;

                <div class="gallery-item" onclick="showGalleryPopup(@imageIndex)"> 
                    <img src="/images/gallery-pics/@image" alt="@image" />
                </div>
            }
        </div>
    
        <div class="column">
            @for (int i = 1; i < Model.ModelDTO.GalleryImages.Count; i += 3)
            {
                var image = Model.ModelDTO.GalleryImages[i];
                var imageIndex = i;

                <div class="gallery-item" onclick="showGalleryPopup(@imageIndex)"> 
                    <img src="/images/gallery-pics/@image" alt="@image" />
                </div>
            }
        </div>

        <div class="column">
            @for (int i = 2; i < Model.ModelDTO.GalleryImages.Count; i += 3)
            {
                var image = Model.ModelDTO.GalleryImages[i];
                var imageIndex = i;

                <div class="gallery-item" onclick="showGalleryPopup(@imageIndex)"> 
                    <img src="/images/gallery-pics/@image" alt="@image" />
                </div>
            }
        </div>
    </div>



    
    <div class="popup-container" id="gallery-popup" style="margin: -180px auto !important">
        <div class="popup-content">
            <span class="close-btn" onclick="closeGalleryPopup()"></span>
            <div class="lightbox-content" id="gallery-window-preview"></div>
            <span class="prev" onclick="changeImage(-1)">&#10094;</span>
            <span class="next" onclick="changeImage(1)">&#10095;</span>
        </div>
    </div>

</div>



<script>
    

    document.addEventListener('DOMContentLoaded', function () {
        const backgroundSlider = document.getElementById('backgroundSlider');

        const backgroundImages = [
            'slide1.png',
            'slide2.png',
            'slide3.png'
            // Add more image filenames as needed
        ];

        let currentBackgroundIndex = 0;

        function changeBackground() {
            // Toggle fade-out class to initiate fade-in-out effect
            backgroundSlider.classList.toggle('fade-out');

            const newBackgroundImage = backgroundImages[currentBackgroundIndex];
            const imagePath = `../images/${newBackgroundImage}`;

            // Set new background image
            backgroundSlider.style.backgroundImage = `url('${imagePath}')`;

            // Increment index or reset to 0 when reaching the end
            currentBackgroundIndex = (currentBackgroundIndex + 1) % backgroundImages.length;
        }

        // Immediately set the first background image
        changeBackground();

        // Automatically change the background every 3 seconds
        setInterval(changeBackground, 3000);
    });

    var galleryModel = @Html.Raw(Json.Serialize(Model.ModelDTO));

    
    // Function to show the gallery popup for a specific image
    async function showGalleryPopup(imageIndex) {
        try {

            const imageDetails = galleryModel.galleryImages[imageIndex];

            // Create or update the gallery popup content
            updateGalleryPopupContent(imageDetails);


            const galleryPopup = document.getElementById('gallery-popup');
            galleryPopup.style.display = 'flex'; // Make it visible
            galleryPopup.style.visibility = 'visible'; // Make it visible
            galleryPopup.style.opacity = '0'; // Start with opacity 0

            const galleryPopupBackground = document.getElementById('gallery-popup-background');
            galleryPopupBackground.style.display = 'flex'; // Make it visible
            galleryPopupBackground.style.visibility = 'visible'; // Make it visible
            galleryPopupBackground.style.opacity = '0'; // Start with opacity 0

            // Trigger reflow to enable the transition
            void galleryPopup.offsetWidth;
            void galleryPopupBackground.offsetWidth;

            // Fade in the gallery popup and background
            galleryPopup.style.opacity = '1';
            galleryPopupBackground.style.opacity = '1';

            galleryPopup.classList.add('popup-show');

        } catch (error) {
            console.error('Error fetching image details:', error);
        }
    }

    // Function to update the gallery popup content
    function updateGalleryPopupContent(imageDetails) {
        // Clear previous content
        document.getElementById('gallery-window-preview').innerHTML = '';

        // Display the image
        const galleryImage = document.createElement('img');
        galleryImage.src = '/images/gallery-pics/' + imageDetails;  // Assuming imageUrl is the property containing the image URL
        galleryImage.alt = 'Gallery Image';
        galleryImage.style.width = '100%';
        galleryImage.style.height = '100%';
        galleryImage.style.objectFit = 'contain'; // Use 'cover' if you want to fill the container
        document.getElementById('gallery-window-preview').appendChild(galleryImage);

        // Populate additional details if needed
        // ...

        // You can customize this part based on your gallery image details
    }


    function changeImage(step) {
        const galleryPopup = document.getElementById('gallery-popup');
        const currentImageIndex = getCurrentImageIndex();

        const newIndex = currentImageIndex + step;
        const totalImages = galleryModel.galleryImages.length;

        const newImageIndex = (newIndex + totalImages) % totalImages;

        // Update the gallery popup content with the new image
        updateGalleryPopupContent(galleryModel.galleryImages[newImageIndex]);

        // Trigger reflow to enable the transition
        void galleryPopup.offsetWidth;

        // Update the current image index data attribute
        galleryPopup.setAttribute('data-current-index', newImageIndex);
    }

    // Function to get the current image index
    function getCurrentImageIndex() {
        const galleryPopup = document.getElementById('gallery-popup');
        return parseInt(galleryPopup.getAttribute('data-current-index')) || 0;
    }

    document.addEventListener("keydown", function (e) {
        if (e.key === "ArrowLeft") {
            changeImage(-1);
        } else if (e.key === "ArrowRight") {
            changeImage(1);
        } else if (e.key === "Escape") {
            closeGalleryPopup();
        }
    });




    // Function to close the gallery popup
    function closeGalleryPopup() {
        // Hide the gallery popup with fade-out effect
        const galleryPopup = document.getElementById('gallery-popup');

        galleryPopup.classList.remove('popup-show');
        galleryPopup.style.opacity = '0';

        const galleryPopupBackground = document.getElementById('gallery-popup-background');
        galleryPopupBackground.style.opacity = '0';

        // Enable scrolling on the background after fade-out
        setTimeout(() => {
            document.body.style.overflow = 'auto';
            galleryPopup.style.visibility = 'hidden'; // Hide the gallery popup
            galleryPopup.style.display = 'none'; // Hide the gallery popup
            galleryPopupBackground.style.visibility = 'hidden'; // Hide the background
            galleryPopupBackground.style.display = 'none';
        }, 300); // Adjust the timeout to match your transition duration
    }

    // Close the gallery popup when clicking outside of it
    document.getElementById('gallery-popup-background').addEventListener('click', closeGalleryPopup);

</script>