﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Početna";
}


<link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />

<style>
    .slider-content{
        height:390px !important;
        padding-left:100px !important;
        padding-top: 50px;
        padding-bottom: 90px;

    }


</style>




<div class="slider" id="backgroundSlider"></div>
            
<div class="wrapper">

        <div class="slider-content" >
            <div class="main-text">Vaše je da zamislite,<br />naše je da to ostvarimo!</div>
            <div class="sub-text">Ugradnja PVC prozora na kuću pruža efikasnu toplotnu izolaciju, dugotrajnost i estetski dobar izgled, čime štedite na računima za energiju i unapređujete udobnost doma.</div>
	        <button class="page-button" onclick="redirectToContact()" asp-page="~/Contact">KONTAKTIRAJ NAS</button>
        </div>


        <div class="cards-container">
            <div class="card">
                <div class="upper-part">
                    <div class="card-icon">
                            <img src="~/images/iconConsult.png" alt="Consult">
                    </div>
                    <div class="card-name">Konsultovanje</div>
                </div>
                <div class="lower-part">
                    <div class="card-text-wrapper">
                        <div class="card-text">Pre početka izrade učestvujemo u konsultacijama i finalnom dogovoru.</div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="upper-part">
                    <div class="card-icon">
                            <img src="~/images/iconConstruct.png" alt="Construct">
                    </div>
                    <div class="card-name">Izrada stolarije</div>
                </div>
                <div class="lower-part">
                    <div class="card-text-wrapper">
                        <div class="card-text">Svih mera, oblika i boja koje možete zamisliti.</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="upper-part">
                    <div class="card-icon">
                        <img src="~/images/iconInstall.png" alt="Construct">
                    </div>
                    <div class="card-name">Ugradnja</div>
                </div>
                <div class="lower-part">
                    <div class="card-text-wrapper">
                        <div class="card-text">Izlazimo na teren sa našom ekipom, i u najkraćem periodu ugrađujemo stolariju.</div>
                    </div>
                </div>
            </div>

        </div>
        
</div>

                
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const backgroundSlider = document.getElementById('backgroundSlider');

        const backgroundImages = [
            'slide1.png',
            'slide2.png',
            'slide3.png'
            // Add more image filenames as needed
        ];

        let currentBackgroundIndex = 0;

        function changeBackground() {
            // Toggle fade-out class to initiate fade-in-out effect
            backgroundSlider.classList.toggle('fade-out');

            const newBackgroundImage = backgroundImages[currentBackgroundIndex];
            const imagePath = `../images/${newBackgroundImage}`;

            // Set new background image
            backgroundSlider.style.backgroundImage = `url('${imagePath}')`;

            // Increment index or reset to 0 when reaching the end
            currentBackgroundIndex = (currentBackgroundIndex + 1) % backgroundImages.length;
        }

        // Immediately set the first background image
        changeBackground();

        // Automatically change the background every 3 seconds
        setInterval(changeBackground, 3000);
    });

    function redirectToContact() {
        window.location.href = '/Contact';
    }


</script>