﻿@page
@using BanatPlast.Data
@inject ApplicationDbContext DbContext
@{
    var windows = DbContext.Windows.ToList();
    ViewData["Title"] = "Katalog";
}

<style>
    .slider-content {
      margin-top: -190px !important;
      height: 190px !important;
    }
    .slider{        
        height:300px;
    }

    
</style>



<div class="popup-background" id="popup-background"></div>

<div class="slider" id="backgroundSlider"></div>

<div class="wrapper">

    <div class="slider-content">
        <div class="page-name">Katalog</div>
    </div>

    <div class="offerCards row" style="margin:40px">
        @if (windows != null)
        {
            @foreach (var window in windows)
            {
                <div class="col-md-3">
                    <div class="offerCard">
                        <img src="@window.ImageUrl" alt="Window Image" />
                        <div class="offerCard-details">
                            <div class="offerCard-name">@window.Name</div>
                            <div class="offerCard-detail">@window.Description</div>

                            <button class=" moreInfoButton" onclick="showPopup(@window.Id)">DETALJNIJE</button>
                        </div>
                    </div>
                </div>
            }
        }

        
    </div>



    <div class="popup-container" id="popup">    
        <div class="popup-header">
            <label id="name" class="popup-title"></label>
            <span class="close-btn" onclick="closePreview()"></span>
        </div>
        <div class="popup-content">
            <div class="window-preview" id="window-preview">
                <!-- Canvas will be dynamically created here -->
            </div>
            <div class="input-section">
                <label id="name"></label>
                <label id="description"></label>
            </div>
        </div>
        <div class="popup-footer">
            <button class="page-button" onclick="closePreview()">Close</button>
        </div>
    </div>


</div>

<script>

    var windowsData = @Html.Raw(Json.Serialize(windows));


    document.addEventListener('DOMContentLoaded', function () {
        const backgroundSlider = document.getElementById('backgroundSlider');

        const backgroundImages = [
            'slide1.png',
            'slide2.png',
            'slide3.png'
            // Add more image filenames as needed
        ];

        let currentBackgroundIndex = 0;

        function changeBackground() {
            // Toggle fade-out class to initiate fade-in-out effect
            backgroundSlider.classList.toggle('fade-out');

            const newBackgroundImage = backgroundImages[currentBackgroundIndex];
            const imagePath = `../images/${newBackgroundImage}`;

            // Set new background image
            backgroundSlider.style.backgroundImage = `url('${imagePath}')`;

            // Increment index or reset to 0 when reaching the end
            currentBackgroundIndex = (currentBackgroundIndex + 1) % backgroundImages.length;
        }

        // Immediately set the first background image
        changeBackground();

        // Automatically change the background every 3 seconds
        setInterval(changeBackground, 3000);
    });






    async function showPopup(windowId) {
        try {
            // Make a fetch request to get window details based on the windowId
            const response = await fetch(`/api/windows/${windowId}`);
            const windowDetails = await response.json();

            // Create or update the popup content
            updatePopupContent(windowDetails);

            const popup = document.getElementById('popup');
            popup.style.display = 'flex'; // Make it visible
            popup.style.visibility = 'visible'; // Make it visible
            popup.style.opacity = '0'; // Start with opacity 0

            const popupBackground = document.getElementById('popup-background');
            popupBackground.style.display = 'flex'; // Make it visible
            popupBackground.style.visibility = 'visible'; // Make it visible
            popupBackground.style.opacity = '0'; // Start with opacity 0

            // Trigger reflow to enable the transition
            void popup.offsetWidth;
            void popupBackground.offsetWidth;


            // Fade in the popup and background
            popup.style.opacity = '1';
            popupBackground.style.opacity = '1';
            
            popup.classList.add('popup-show');

        } catch (error) {
            console.error('Error fetching window details:', error);
        }
    }

    function updatePopupContent(windowDetails) {

        
        console.log(windowDetails);


        // Clear previous content
        document.getElementById('window-preview').innerHTML = '';

        // Display the model image
        const modelImage = document.createElement('img');
        modelImage.src = windowDetails.imageUrl; // Assuming imageUrl is the property containing the image URL
        modelImage.alt = 'Window Model';
        document.getElementById('window-preview').appendChild(modelImage);



        // Populate input fields
        document.getElementById('name').textContent = windowDetails.name;
        document.getElementById('description').textContent = windowDetails.description;

    }

    function closePreview() {
        // Hide the popup with fade-out effect
        const popup = document.getElementById('popup');

        popup.classList.remove('popup-show');
        popup.style.opacity = '0';

        const popupBackground = document.getElementById('popup-background');
        popupBackground.style.opacity = '0';

        // Enable scrolling on the background after fade-out
        setTimeout(() => {
            document.body.style.overflow = 'auto';
            popup.style.visibility = 'hidden'; // Hide the popup
            popup.style.display = 'none'; // Hide the popup
            popupBackground.style.visibility = 'hidden'; // Hide the background
            popupBackground.style.display = 'none';
            
            
        }, 300); // Adjust the timeout to match your transition duration
    }

    // Close the popup when clicking outside of it
    document.getElementById('popup-background').addEventListener('click', closePreview);


</script>